[submodule "private_dot_config/nvim"]
	path = private_dot_config/nvim
	url = git@github.com:bustinbung/kickstart.nvim
[submodule "private_dot_config/alacritty/themes"]
	path = private_dot_config/alacritty/themes
	url = git@github.com:bustinbung/alacritty-theme.git
