{{- if eq .chezmoi.os "darwin" }}
export ZPLUG_HOME=$(brew --prefix)/opt/zplug
source $ZPLUG_HOME/init.zsh
{{ end }}

{{ if eq .chezmoi.os "linux" }}
# Fix KDE issues(?)
export QT_STYLE_OVERRIDE=kvantum
export DESKTOP_SESSION=plasma
export XDG_CURRENT_DESKTOP=KDE
{{ end }}

# Aliases
alias ls='ls --color=auto'
alias ll='ls -lah --color=auto'
alias grep='grep --color=auto'
alias ce="$EDITOR $HOME/.zshrc" # edit .zshrc
alias cr="source $HOME/.zshrc"  # reload zsh config
alias cm="chezmoi"

# Always use vi keybindings
bindkey -v

setopt histignorealldups sharehistory

# Shell history
HISTSIZE=5000
SAVEHIST=5000
HISTFILE=~/.zsh_history

# Use modern completion
autoload -Uz compinit
compinit

# Set editor
export EDITOR=nvim

# bun completions
[ -s "/Users/justin/.bun/_bun" ] && source "/Users/justin/.bun/_bun"

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"

# doom
export PATH="$HOME/.emacs.d/bin:$PATH"

# ssh agent
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock

# zplug plugins
zplug "plugins/git", from:oh-my-zsh
zplug "plugins/sudo", from:oh-my-zsh
zplug "plugins/command-not-found", from:oh-my-zsh
zplug "zsh-users/zsh-syntax-highlighting"
zplug "zsh-users/zsh-autosuggestions"
zplug "zsh-users/zsh-history-substring-search"
zplug "zsh-users/zsh-completions"
zplug "junegunn/fzf"
zplug "jeffreytse/zsh-vi-mode"

# zplug - install/load new plugins when zsh is started or reloaded
if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then
        echo; zplug install
    fi
fi
zplug load

# starship prompt
export STARSHIP_CONFIG=~/.config/starship/starship.toml
eval "$(starship init zsh)"
