{{ if eq .chezmoi.os "darwin" }}
# change java version
export JAVA_HOME=`/usr/libexec/java_home -v 17.0.10`
{{- end -}}

{{- if eq .chezmoi.os "linux" }}
# Init antidote
source '/usr/share/zsh-antidote/antidote.zsh'
antidote load
{{- end }}

# Aliases
alias ls='ls --color=auto'
alias ll='ls -lah --color=auto'
alias grep='grep --color=auto'
alias ce="$EDITOR $HOME/.zshrc" # edit .zshrc
alias cs="source $HOME/.zshrc"  # reload zsh config
alias cm="chezmoi"
alias lg="lazygit"

# Always use vi keybindings
bindkey -v

# Set editor
export EDITOR=nvim

# Set terminal
export TERMINAL=/usr/bin/alacritty

# bun completions
[ -s "~/.bun/_bun" ] && source "~/.bun/_bun"

# pipx
export PATH="$PATH:/home/justin/.local/bin"

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"

# doom
export PATH="$HOME/.config/emacs/bin:$PATH"

# rofi themes
export PATH=$HOME/.config/rofi/scripts:$PATH

# nnn
n ()
{
    # Block nesting of nnn in subshells
    [ "${NNNLVL:-0}" -eq 0 ] || {
        echo "nnn is already running"
        return
    }

    # The behaviour is set to cd on quit (nnn checks if NNN_TMPFILE is set)
    # If NNN_TMPFILE is set to a custom path, it must be exported for nnn to
    # see. To cd on quit only on ^G, remove the "export" and make sure not to
    # use a custom path, i.e. set NNN_TMPFILE *exactly* as follows:
    #      NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"
    export NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"

    # Unmask ^Q (, ^V etc.) (if required, see `stty -a`) to Quit nnn
    # stty start undef
    # stty stop undef
    # stty lwrap undef
    # stty lnext undef

    # The command builtin allows one to alias nnn to n, if desired, without
    # making an infinitely recursive alias
    command nnn "$@"

    [ ! -f "$NNN_TMPFILE" ] || {
        . "$NNN_TMPFILE"
        rm -f "$NNN_TMPFILE" > /dev/null
    }
}

# zplug plugins
# zplug "plugins/git", from:oh-my-zsh
# zplug "plugins/sudo", from:oh-my-zsh
# zplug "plugins/command-not-found", from:oh-my-zsh
# zplug "zsh-users/zsh-syntax-highlighting"
# zplug "zsh-users/zsh-autosuggestions"
# zplug "zsh-users/zsh-history-substring-search"
# zplug "zsh-users/zsh-completions"
# zplug "junegunn/fzf"
# zplug "jeffreytse/zsh-vi-mode"
# 
# # zplug - install/load new plugins when zsh is started or reloaded
# if ! zplug check --verbose; then
#     printf "Install? [y/N]: "
#     if read -q; then
#         echo; zplug install
#     fi
# fi
# zplug load

# starship prompt
export STARSHIP_CONFIG=~/.config/starship/starship.toml
eval "$(starship init zsh)"

# thefuck
eval $(thefuck --alias)
