# Load antidote
{{- if eq .chezmoi.os "darwin" }}
source /opt/homebrew/opt/antidote/share/antidote/antidote.zsh
{{- else if eq .chezmoi.os "linux" }}
source /usr/share/zsh-antidote/antidote.zsh
{{- end }}
antidote load ${ZDOTDIR}/.zplugins

### SETTINGS ###
# Ignore comments
setopt interactivecomments

# Set ZLE vi mode
bindkey -v

# zsh-history-substring-search config
bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down

### ALIASES ###
alias ls='ls --color=auto'
alias la='ls -a'
# long, hidden, file markers, unit suffixes
alias ll='ls -laFh'

alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'
alias mkdir='mkdir -v'
alias rmdir='rmdir -v'
alias ln='ln -v'

alias grep='grep --color=auto'

alias ssh='kitten ssh'

alias ec='emacsclient -nc -a ""'

alias python='python3'

# Config
alias cs='source $ZDOTDIR/.zshrc'

{{ if eq .osid "linux-arch" -}}
# VSCodium
alias vscodium='vscodium --ozone-platform=wayland'
{{- end }}

### TOOLS ###
# zoxide
eval "$(zoxide init --cmd cd zsh)"

# starship
export STARSHIP_CONFIG="$HOME/.config/starship/starship.toml"
eval "$(starship init zsh)"

# nvm
{{- if eq .chezmoi.os "linux" }}
export NVM_DIR="$HOME/.config/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
{{- else if eq .chezmoi.os "darwin" }}
export NVM_DIR="$HOME/.nvm"
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion
{{- end }}

# yazi
function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	\rm -f -- "$tmp"
}

# zsh completions
{{- if eq .chezmoi.os "darwin" }}
if type brew &>/dev/null; then
    FPATH=$(brew --prefix)/share/zsh-completions:$FPATH

    autoload -Uz compinit
    compinit
fi
{{- else if eq .chezmoi.os "linux" }}
eval "$(chezmoi completion zsh)"
{{- end }}
