# Set programs
export PAGER=less
export EDITOR=nvim
export VISUAL=nvim

# Set locale
export LANG='en_US.UTF-8'

# PATH additions
typeset -U PATH path

{{- if eq .chezmoi.os "darwin" }}
path+=('/Users/justin/.config/emacs/bin')
{{- else if eq .chezmoi.os "linux" }}
path+=('/home/justin/.config/emacs/bin')
{{- end }}
export PATH
