# Load antidote
{{- if eq .chezmoi.os "darwin" }}
source /opt/homebrew/opt/antidote/share/antidote/antidote.zsh
{{- else if eq .chezmoi.os "linux" }}
source /usr/share/zsh-antidote/antidote.zsh
{{- end }}
antidote load ${ZDOTDIR}/.zplugins

### SETTINGS ###
# Ignore comments
setopt interactivecomments

# Set ZLE vi mode
bindkey -v

# zsh-history-substring-search config
bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down

### ALIASES ###
alias ls='ls --color=auto'
alias la='ls -a'
# long, hidden, file markers, unit suffixes
alias ll='ls -laFh'

alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'
alias mkdir='mkdir -v'
alias rmdir='rmdir -v'
alias ln='ln -v'

alias grep='grep --color=auto'

alias ssh='kitten ssh'

alias ec='emacsclient -nc -a ""'

# Config
alias ce='$EDITOR $ZDOTDIR/.zshrc'
alias cs='source $ZDOTDIR/.zshrc'

# Programs
alias lg='lazygit'
alias cm='chezmoi'

{{ if eq .chezmoi.os "linux" -}}
# Pacman
alias sp='sudo pacman'
alias sps='sudo pacman -S'
alias spsu='sudo pacman -Syu'
alias spr='sudo pacman -R'
alias sprs='sudo pacman -Rs'
alias spq='sudo pacman -Q'

# VSCodium
alias vscodium='vscodium --ozone-platform=wayland'
{{- end }}

### TOOLS ###
# zoxide
eval "$(zoxide init --cmd cd zsh)"

# starship
export STARSHIP_CONFIG="$HOME/.config/starship/starship.toml"
eval "$(starship init zsh)"

# nnn
n ()
{
    # Block nesting of nnn in subshells
    [ "${NNNLVL:-0}" -eq 0 ] || {
        echo "nnn is already running"
        return
    }

    # The behaviour is set to cd on quit (nnn checks if NNN_TMPFILE is set)
    # If NNN_TMPFILE is set to a custom path, it must be exported for nnn to
    # see. To cd on quit only on ^G, remove the "export" and make sure not to
    # use a custom path, i.e. set NNN_TMPFILE *exactly* as follows:
    #      NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"
    export NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"

    # Unmask ^Q (, ^V etc.) (if required, see `stty -a`) to Quit nnn
    # stty start undef
    # stty stop undef
    # stty lwrap undef
    # stty lnext undef

    # The command builtin allows one to alias nnn to n, if desired, without
    # making an infinitely recursive alias
    command nnn "$@"

    [ ! -f "$NNN_TMPFILE" ] || {
        . "$NNN_TMPFILE"
        rm -f -- "$NNN_TMPFILE" > /dev/null
    }
}

# nvm
{{- if eq .chezmoi.os "linux" }}
source /usr/share/nvm/init-nvm.sh
{{- end }}

# chezmoi
eval "$(chezmoi completion zsh)"

# yazi
function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	\rm -f -- "$tmp"
}
