(defcfg
  process-unmapped-keys yes
)

(defsrc
  esc  f1   f2   f3   f4   f5   f6   f7   f8   f9   f10  f11  f12
  grv  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab  q    w    e    r    t    y    u    i    o    p    [    ]    \
  caps a    s    d    f    g    h    j    k    l    ;    '         ret
  lsft z    x    c    v    b    n    m    ,    .    /    rsft      up
  fn   lctl lalt lmet      spc            rmet ralt           left down rght
)

(deflayer qwerty
  esc  f1   f2   f3   f4   f5   f6   f7   f8   f9   f10  f11  f12
  @grl 1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab  q    w    e    r    t    y    u    i    o    p    [    ]    \
  @chy a    s    d    f    g    h    j    k    l    ;    '         ret
  lsft z    x    c    v    b    n    m    ,    .    /    rsft      up
  @fn  lctl lalt lmet      spc            rmet ralt           left down rght
)

(deflayer colemakdh
  esc  f1   f2   f3   f4   f5   f6   f7   f8   f9   f10  f11  f12
  @grl 1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab  q    w    f    p    b    j    l    u    y    ;    [    ]    \
  @chy a    r    s    t    g    m    n    e    i    o    '         ret
  lsft x    c    d    v    z    k    h    ,    .    /    rsft      up
  @fn  lctl lalt lmet      spc            rmet ralt           left down rght
)

;; Gallium Colstag
(deflayer gallium
  esc  f1   f2   f3   f4   f5   f6   f7   f8   f9   f10  f11  f12
  @grl 1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab  b    l    d    c    v    j    y    o    u    ,    [    ]    \
  @chy n    r    t    s    g    p    h    a    e    i    /         ret
  lsft x    q    m    w    z    k    f    '    ;    .    rsft      up
  @fn  lctl lalt lmet      spc            rmet ralt           left down rght
)

(defalias
  ;; tap: backtick (grave), hold: toggle layer-switching layer while held
  grl (tap-hold 200 200 grv (layer-toggle layers))
  gal (layer-switch gallium)
  qwr (layer-switch qwerty)
  cdh (layer-switch colemakdh)
  chy (multi lsft lctl lalt lmet)
  fn (multi (layer-toggle function) fn)

  ;; macOS function key glyphs
  mc C-up ;; Mission Control
  sls M-spc ;; Spotlight Search
  dtn S-C-A-M-f5 ;; Dictation
  dnd S-C-A-M-f6 ;; Do Not Disturb
)

(deflayer layers
  _    _    _    _    _    _    _    _    _    _    _    _    _
  _    @qwr @cdh @gal _    _    _    _    _    _    _    _    _    _
  _    _    _    _    _    _    _    _    _    _    _    _    _    _
  _    _    _    _    _    _    _    _    _    _    _    _    _
  _    _    _    _    _    _    _    _    _    _    _    _         _
  _    _    _    _         lrld           _    _              _    _    _
)

(deflayer function
  _    brdn brup @mc  @sls @dtn @dnd prev pp   next mute vold volu
  _    _    _    _    _    _    _    _    _    _    _    _    _    del
  _    _    _    _    _    _    _    _    _    _    _    _    _    _
  _    _    _    _    _    _    _    _    _    _    _    _    _
  _    _    _    _    _    _    _    _    _    _    _    _         pgup
  _    _    _    _         _              _    _              home pgdn end
)
