import = [
    "~/.config/alacritty/themes/themes/catppuccin_latte.toml"
]

live_config_reload = true

[window]
    padding = { x = 2, y = 2 }
    dynamic_padding = true
    startup_mode = "Maximized"

[font]
    normal = { family = "JetBrainsMono Nerd Font Mono", style = "Regular" }
    {{- if eq .chezmoi.os "darwin" }}
    size = 14
    {{- else if eq .chezmoi.os "linux" }}
    size = 12
    {{- end }}
