[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = "$HOME/.ssh/allowed_signers"
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPATAJGUz2p7WIWuLTuyhlWKQlc3Mne1dua+ZUp0iUud
	email = justin@bustinbung.com
	name = Justin Jung
[init]
	defaultBranch = main

{{- if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
[core]
	sshCommand = ssh.exe
{{- end }}
