[gpg]
	format = ssh
[gpg "ssh"]
	{{- if eq .chezmoi.os "darwin"}}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	{{- else if eq .chezmoi.os "linux"}}
	{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	program = "/mnt/c/Users/justin/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
	{{-   else }}
	program = /opt/1Password/op-ssh-sign
	{{-   end }}
	{{- end }}
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPATAJGUz2p7WIWuLTuyhlWKQlc3Mne1dua+ZUp0iUud
	email = justin@bustinbung.com
	name = Justin Jung
[init]
	defaultBranch = main

{{- if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
[core]
	sshCommand = ssh.exe
{{- end }}
