include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/wpblur.kdl"

include "static.kdl"
include "binds.kdl"

window-rule {
	match app-id="vivaldi-stable"
	open-maximized true
}

window-rule {
	match app-id="vivaldi-stable" title="Settings"

	open-floating true
}
